body {
    margin: 0;
}

.pageContainer {
    min-height: 85vh;
    position: relative;
    padding-bottom: 15vh;
}

.mainContent{
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    position:absolute;
    bottom:0px;
    width:100%;
    background-color:#b595f1;
    height:30px;
    text-align:center;
    padding-top:15px
}

ul.navbuttons {
    background-color: #b595f1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

li.navbuttons a {
    float: right;
    display: block;
    padding: 21px 30px;
    text-decoration: none;
    text-align:center;
    color: white;
    transition: background-color 0.2s, color 0.2s;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    color:black;
    font-weight: 150
}
li.navbuttons a:hover {
    background-color:#5822c8;
    color: white
}
li.navbuttons span {
    float: left;
    display:block;
    padding:17px 30px;
    text-align:center;
    font-size: 20px;
    font-family: Copperplate, fantasy;
    text-decoration:none;
}

table {
    width:100%;
    border-collapse:collapse;
}
th, td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: left
} 
tr:nth-child(even) {
  background-color: #dddddd;
}

#webIcon {
    position: relative;
    top:13px;
    left:13px;
    float: left;
    height:30px;
}

a img {
    height:30px;
}



